a {
    color:green;
    font-size:130%;
}  



#moya_ssilka {
    color:brown;
}

.human {
    color:red
}

.animal {
    color: orange;
}

.lion {
     color: orange;
}

.monkey {
    color: brown;
}

.turtle {
    color: #1f822c;
    background-color: #79ff8b;
    border: 1px solid #062209;
}

ul {
    margin-left: 30px;
}

li {
    font: 1rem 'Fira Sans', sans-serif;
}

.message {
    color: gray;
    background-color: rgb(221, 217, 217);
    border: 1px solid rgb(15, 15, 15);
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.success {
    background-color: rgb(32, 78, 32);
    color: #ffffff;
}

.fail {
    background-color: red;
    color: #ffffff;
}

.info {
    background-color: #4B8BF5;
    color: #ffffff;
}

.warning{
    background-color: #FFCE43;
        color: #000000;
}

.message:hover {
    border: 5px solid rgb(15, 15, 15);;
}

body {
    background-image: url(img/2.jpg);
}

#test {
    


    background-color: rgb(247, 111, 179);
    color: #ffffff;
    padding: 15px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 35px;
    opacity: 0.8;
    box-shadow: 13px 13px 10px #000000;
    font-weight: 800;
}